{% extends "base.html" %}
{% block content %}
World of Wartaf! <br>
Projet réalisé par : <br>
Julien Gidel & Raphael Lepiller <br>
AS Informatique 2015-2016 <br>
IUT Orléans
{% end %}
{% block js %}
selected_tab = "#tabhome";
{% end %}
